
*{ 
padding: 0;
margin: 0;
}

header{
  background-color: rgb(10, 46, 9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
header a{
  color: rgb(10, 182, 19);
  text-decoration: none;
  margin: 0 30px;
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
}
header a:hover{
  color: rgb(100, 237, 118);
}
header button {
  background-color: rgb(16, 83, 13);
  color: rgb(11, 156, 23) ;
  padding: 7px; 30px  ;
  border: none;
  border-radius: 20px;
transition:400ms;
}
header button:hover{
  background-color: rgb(46, 150, 60);
  transform: scale(1.25);
}
footer {
  background-color: rgb(11, 71, 16);
}
.hero{
  min-height: 80vh;
  background-image:linear-gradient(to top,rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.13)),url(12.jpg);
  background-size: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero p{
  max-width: 700px;
  color: rgb(255, 255, 255);
}
h1 {
color: blanchedalmond;
}